html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  color: rgba(#000, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

ol {
  padding: 0;
  margin: 20px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

img.headshot {
  height: 100px;
  border-radius: 100%;
}

.mentor {
  display: flex;
  border-radius: 4px;
  margin-bottom: 15px;
  background: #fff;
  position: relative;
  height: 175px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.headshot-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-wrapper {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.meet-wrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  height: 100%;
}

.meet-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  flex: 1;
  background-color: #ad85fe;
  font-size: 1.5em;
  font-family: Monospace;

  &:hover {
    background-color: mediumpurple;
  }
}
