---
title: Our Mentors
---

<div class="container">
  <h1>
    Our Mentors
  </h1>

    <% data.mentors.each do |m| %>
      <div class="mentor">
        <div class="headshot-wrapper">
            <%= image_tag m.headshot, class: 'headshot' %>
        </div>
        <div class="about-wrapper">
            <h3><%= m.name %></h3>
            <%= m.bio %>
        </div>

        <div class="meet-wrapper">
            <%= link_to 'schedule', m.calendar_link, class: "meet-link" %>
        </div>
      </div>
  <% end %>
</div>
